@font-face {
    font-family:segan;
    src: url("fonts/Comme-Light.ttf");
}
#headd{
}
#back1{
  bottom: 230px;
  right: 30px;
  width: 100px;
  height: 32px;
}
#back2{
  bottom: 190px;
  right: 30px;
  width: 100px;
  height: 32px;
}
#back3{
  bottom: 150px;
  right: 30px;
  width: 100px;
  height: 32px;
}
#back4{
  bottom: 110px;
  right: 30px;
  width: 100px;
  height: 32px;
}
#back5{
  bottom: 70px;
  right: 30px;
  width: 100px;
  height: 32px;
}
#back0{
  bottom: 30px;
  right: 65px;
  width: 40px;
  height: 32px;
  opacity: 0;
  pointer-events: all;
}
#back0:hover{
  opacity: 1;
  pointer-events: all;
}
#back0.show{
  opacity: 0.5;
  pointer-events: all;
}
.back{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    border: solid 1px #666666;
    font-family:'segan';
    letter-spacing:1.8px;
	  font-style: normal;
	  font-variant: normal;
	  line-height: 29px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    background: #fcfdfd;
    color: #666666;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}
.back:hover {
    border: 3px #666666 solid;
    pointer-events: all;
}
.back.show {
    opacity: 1;
    pointer-events: all;
}
.animated_bg{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#a4{
	color:white;
	font-family:'segan';
	font-size: 22px;
  letter-spacing:1.8px;
	font-style: normal;
	font-variant: normal;
	line-height: 29px;
  padding: 10px 20px;
  border: solid 1px white;
  border-radius: 6px;
  background-color: inherit;
}
#a4:hover{
  border: solid 2px white`;
    border-radius: 19px;
}
.bar-div{
padding: 20px 25px;
float: left;
position:  inherit;
color: white;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#s1,#s2,#s3,#s4{
  position: relative;

height:100vh;
margin: 0;
    padding: 0;
    border-bottom:4px #666666  solid;


}
#s1{
  visibility: visible;
}
#space2{
  padding: 25px 20px;
  float:left;
}
.s-text{
  text-align: center;
  vertical-align: middle;
  font-family:'segan';
  font-size: 60px;
  letter-spacing:1.8px;
  font-style: normal;
  font-variant: normal;
  color: #666666;
}
.vid-text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:0px 0px;
  color:#a9dae1;
  text-align: center;
  vertical-align: middle;
  top: 40%;
    -webkit-transform: translate(0,40%);
    transform: translate(0, 40%);
  font-family:'segan';
	font-size: 130px;
  letter-spacing:1.8px;
	font-style: normal;
	font-variant: normal;
}
#space{
padding: 25px 20px;
float:left;
}
.a-name{
  margin-top: 4px;
  padding: 25px 120px;
  background-size: contain;
  background-image: url("untitled-2.png");
  float: left;

}

.header-basic-light{
  border: 0px 0px 30px 30px solid white;
-moz-border-radius-top: 0px 0px  30px 30px ;
-webkit-border-radius: 0px 0px  30px 30px ;
  background-color: #666666;
  width:1145px;
  height:65px;
	padding: 0;}

.header-basic-light{
	max-width:100%;
  	text-align: center;
	margin: 0 auto;
}
.header-basic-light:hover{
opacity: 1;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
}
.hid{
  visibility: hidden;
}
.vis{
  visibility:visible;
}
.video{
  position:fixed;
      top: 0;
      left: 0;
      min-width: 110% ;
height:100vh;
      height:auto;
      width:auto;
      z-index: -100;
}
.video1{
  position:fixed;
      top: 0;
      left: 0;
      min-width: 110% ;
height:100vh;
      height:auto;
      width:auto;
      z-index: -100;
}
.header-button{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;s
	color:white;
	font-family:'segan';
	font-size: 22px;
  letter-spacing:1.8px;
	font-style: normal;
	font-variant: normal;
	line-height: 29px;
}
.header-button.on,#a4.on{
font-size: 14px;

}
.header-button:hover {

border-bottom:3px white solid;
 background-color: rgba(102, 102, 102);
 border-radius: 5px;  }
